body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* NAVY BLUE */

  color: #2e2f42;
}
.logo-span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* IRIS */

  color: #4d5ae5;
}

.nav-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.nav-contact {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}

.hero-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  /* or 107% */

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
  background: #2e2f42;
}
.hero-btn {
  /* Button Text */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;

  color: #ffffff;
  background: #4d5ae5;
}

.about-studio {
}
.about-studio-list {
}
.about-item {
}
.item-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.about-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}
.products-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */

  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */

  color: #2e2f42;
}
.products-list {
}
.products-list-item {
}

.team {
}
.team-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */

  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */

  color: #2e2f42;
}
.team-list {
}
.team-member {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.team-member-about {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}
.footer-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.02em;

  /* CORNFLOWER */

  color: #e7e9fc;

  background: #2e2f42;
}
