:root {
  --bgColor: #4d5ae5;
  --mainColor: #2e2f42;
  --textColor: #434455;
  --white: #ffffff;
  --accent: #404bbf;
  --secondary: #f4f4fd;
  --footerText: #e7e9fc;
}
body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;

  letter-spacing: 0.02em;

  color: var(--textColor);
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--mainColor);
}
.logo-span {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--bgColor);
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--mainColor);
}
.link-accent:hover,
.link-accent:focus {
  color: var(--accent);
}
.nav-contact {
  /* font-family: 'Roboto', sans-serif; */
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;

  color: var(--textColor);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  /* or 107% */

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--white);
  background: var(--mainColor);
}
.btn {
  font-family: 'Roboto';
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;

  color: var(--white);
  background: var(--bgColor);
}
.btn:hover {
  color: var(--white);
  background-color: var(--accent);
  cursor: pointer;
}
.btn-filter {
  font-family: 'Roboto';
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;

  color: var(--bgColor);
  background: var(--secondary);
  cursor: pointer;
}
.btn-filter:hover,
.btn-filter:focus {
  color: var(--white);
  background-color: var(--bgColor);
}

.about-studio {
}
.about-studio-list {
}
.about-item {
}
.header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--mainColor);
}
.text {
  font-weight: 400;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--textColor);
}
.current {
  color: var(--accent);
}
.company-header {
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--mainColor);
}
.products-list {
}
.products-list-item {
}

.team {
}

.team-list {
}

.logo-footer {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary);
}
.footer-text {
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.02em;

  /* CORNFLOWER */

  color: var(--footerText);

  background: var(--mainColor);
}
